.movie-card > img {
  width: 150px;
}

.movie-card {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 150px;
  height: 375px;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.movie-card > h3 {
  overflow-wrap: normal;
}

/* .movie-card > h3 {
  overflow-wrap: normal;
} */
